@model SAT1.SATStudent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SATStudent</legend>

    <div class="display-label">Display</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Display)
    </div>

    <div class="display-label">firstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">lastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">major</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.major)
    </div>

    <div class="display-label">classification</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.classification)
    </div>

    <div class="display-label">address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">city</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">state</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.state)
    </div>

    <div class="display-label">zip</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zip)
    </div>

    <div class="display-label">phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">SATStudentStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SATStudentStatus.SSName)
    </div>

    <div class="display-label">pictureUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pictureUrl)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
