@model SAT1.SATEnrollment

@{
    ViewBag.Title = "Edit Enrollment";
}

<h2>Edit Enrollment</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Enrollment</legend>

        @Html.HiddenFor(model => model.enrollmentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.scheduledClassId, "SATScheduledClass")
        </div>
        <div class="editor-field">
            @Html.DropDownList("scheduledClassId", String.Empty)
            @Html.ValidationMessageFor(model => model.scheduledClassId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.studentId, "SATStudent")
        </div>
        <div class="editor-field">
            @Html.DropDownList("studentId", String.Empty)
            @Html.ValidationMessageFor(model => model.studentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.enrollmentDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.enrollmentDate)
            @Html.ValidationMessageFor(model => model.enrollmentDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
